body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #e50914;
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  --button-bg: rgba(0, 0, 0, 0.5);
  --button-green: rgba(50, 200, 9, 0.926);
  --gold-color: #ffd700;
}

nav {
  background-color: var(--background-color);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fav-movies > a {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  background-color: var(--background-color);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.699);
  padding: 10px;
  border-radius: 20px;
}
#fav-movies > a:hover {
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

.fav-header {
  text-align: center;
  font-size: 2rem;
  color: #e50914;
}

.back a {
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: #e50914;
}
.fav-container {
  margin: 20px;
}

.fav-movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.fav-movie-card {
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.fav-movie-card:hover {
  transform: scale(1.05);
}

.fav-movie-poster {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.fav-movie-info {
  padding: 15px;
}

.fav-movie-title {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #e50914;
}

.fav-movie-rating,
.fav-movie-genre,
.fav-movie-time {
  margin: 5px 0;
  font-size: 1rem;
  color: #cccccc;
}

.fav-movie-rating {
  color: #e1e509;
}
.fav-movie-rating span {
  color: #e1e509;
}

.fav-movie-genre span,
.fav-movie-time span {
  font-weight: bold;
  color: #ffffff;
}

.movie-details-link {
  display: inline-block;
  background-color: #e50914;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.movie-details-link:hover {
  background-color: #c20810;
}
