body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #e50914;
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  --button-bg: rgba(0, 0, 0, 0.5);
  --button-green: rgba(50, 200, 9, 0.926);
  --gold-color: #ffd700;
}

nav {
  background-color: var(--background-color);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#fav-movies > a {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  background-color: var(--background-color);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.699);
  padding: 10px;
  border-radius: 20px;
}
#fav-movies > a:hover {
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

.fav-header,
#movie-title-heading {
  text-align: center;
  font-size: 2rem;
  color: #e50914;
}
.back a {
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: #e50914;
}
.fav-container {
  margin: 20px;
}

.movie-details-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.movie-details-container img {
  width: 300px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-details-info {
  flex: 1;
}

.movie-details-info h2 {
  color: #e50914;
  font-size: 2rem;
  margin-bottom: 10px;
}

.movie-details-info p {
  font-size: 1rem;
  margin: 8px 0;
}

.movie-details-info a {
  display: inline-block;
  background-color: #e50914;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
}

.movie-details-info a:hover {
  background-color: #c20810;
}
